---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manicura Profesional</title>
    <meta
      name="description"
      content="Portfolio profesional de manicura y nail art."
    />
  </head>
  <body>
    <div id="cursor-glow"></div>
    <slot />
  </body>
  <script is:inline>
    const cursor = document.getElementById("cursor-glow");

    document.addEventListener("mousemove", (e) => {
      cursor.style.top = `${e.clientY}px`;
      cursor.style.left = `${e.clientX}px`;
    });
    let angle = 0;
    setInterval(() => {
      angle += 2;
      cursor.style.background = `conic-gradient(from ${angle}deg, #f0f, #0ff, #f0f)`;
    }, 50);
  </script>
</html>
